<%- include("header") -%>
       <div id="flex">
        <div id="editdiv">
            <form id="edit" method="post" action="/update">
                <button id="back" name="back" value="backtoabout"><-Back</button>
            </br>
                <span id="line"><span id="h1">Veiw/Edit Post</span><button id="delete" name="delete" value=<%= list._id %> >Delete</button></span><br> 
            </br>
                <label for="title" id="title">Title:</label><br>
                <input type="text" id="head" name="head" value="<%= list.head %>" ><br>
                <label for="content" id="content">content:</label><br>
                <textarea rows="8" cols="118" id="contentaddress" name="content"><%= list.content %></textarea><br>
                <button id="update" name="update" value=<%= list._id %>>update</button>
            </form>
        </div>
        </div>
        <%- include("footer") -%>